@{
    ViewData["Title"] = "Home Page";
}
<link href="/css/site.css" rel="stylesheet" />

<section class="promo-section pt-0">
    <div class="container-fluid px-0">
        <div class="row g-0 align-items-stretch flyer-row">

            <!-- Texto a la izquierda -->
            <div class="col-md-6 text-section d-flex align-items-center">
                <div class="promo-text w-100 ps-5">
                    <h6>SIGN UP & GET REWARD</h6>
                    <h1>
                        <span class="text-white-bold">UP TO</span>
                        <span class="text-price">$20,000</span>
                    </h1>
                    <button class="btn btn-success btn-lg">Create Account</button>
                </div>
            </div>

            <!-- Imagen a la derecha -->
            <div class="col-md-6 image-section d-flex align-items-center justify-content-center">
                <img src="/img/indexAp.png" alt="Club" class="img-fluid flyer-img" />
            </div>

        </div>
    </div>
</section>

<div class="container py-5">
    <div class="row justify-content-center g-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card text-white bg-secondary">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card text-white bg-success">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card text-white bg-danger">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card text-dark bg-warning">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Warning card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card text-white bg-info">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-light text-dark">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card text-white bg-dark">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

