* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: #0b0d1a;
}

.navbar {
    background-color: #130D25;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 1;
    margin-left: 50px;
}

.green {
    color: #1ddf73;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    height: 80px;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: 50px;
}

    .nav-links li {
        display: flex;
        align-items: center;
        height: 100%;
    }

        .nav-links li a {
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: white;
            font-size: 16px;
            padding: 0 6px;
            height: 100%;
            transition: color 0.3s;
        }

            .nav-links li a:hover,
            .nav-links li a.active {
                color: #1ddf73;
            }

            .nav-links li a i {
                font-size: 18px;
                transition: color 0.3s;
            }

            .nav-links li a::after {
                content: "";
                position: absolute;
                bottom: -0px;
                left: 0;
                width: 0%;
                height: 3px;
                background-color: #1ddf73;
                transition: width 0.3s;
            }

            .nav-links li a:hover::after,
            .nav-links li a.active::after {
                width: 100%;
            }

.promotions {
    color: #f6c744 !important;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.lang-select {
    background: transparent;
    color: white;
    border: none;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    appearance: none;
    padding: 4px 8px;
}

.btn-login {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.3s;
}

    .btn-login:hover {
        background-color: white;
        color: #14162b;
    }

.btn-signup {
    background: #1BB96B;
    color: white;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.3s;
}

    .btn-signup:hover {
        background-color: #17a361
    }
